body {
    font-family: 'Arial';
    font-style: normal; 
    margin: 0;
    text-align: center;
    color: #1D3557;
}

#header {
    background-image: url("images/udp.jpg");
    background-size: cover;
    padding:100px 0 100px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#visit-udp {
    background: #1D3557;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color:whitesmoke;
}

#udp-abt {
    background: #457B9D;
    padding: 5px 10px;
    margin-top:0px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-left:50px;
    border-radius: 5px;
    color:whitesmoke;
    
}

#title {
    text-align: center;
    background-color: #F1FAEE;
    margin-top: 0px;
    margin-bottom: auto;
    padding-top: 25px;
    
}

.images {
    text-align:center;
    border: 1px solid green;
    padding: 75px;
    margin-top: 28px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 73px;
    
}

#img-1 {
    background-image: url("images/boatride.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

#img-2 {
    background-image: url("images/ropeway.jpg");
    background-repeat: no-repeat;
    background-size:154px 152px;
    background-position: 0px;
}

#img-3 {
    background-image: url("images/dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -23px;
}

.activity {
    display: flex;
    justify-content: space-around;
    background-color: #F1FAEE;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F1FAEE;
}

#heading-1 {
    margin-left: 10px;
    
}

#heading-2 {
    margin-right: 22px; 
}

#heading-3 {
    margin-right: 30px;
}

.para {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F1FAEE;
}

.avatar {
    width: 193px;
    height: 201px;
    padding-top: 5px;
    
}

#intro {
    margin: 0px;
    padding-left: 14px;
    padding-right: 14px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    background: #A8DADC;
    color: #1D3557;
    border-radius: 10px;
    border-bottom: 6px solid #d8cefe;
    width: 410px;
    height:auto;
    margin: 70px auto;
    padding: 15px;
}